accelerate
anthropic
autopep8
bitsandbytes
datasets
evaluate
hf_xet
huggingface_hub
jupyter
jupyterlab
langchain
langchain-anthropic
langchain-classic
langchain-experimental
langchain-ibm
langchain-openai
langchain-community
langchain-tavily
langgraph
langfuse
langsmith
matplotlib
mcp
mysql-connector-python
numpy
onnx
onnxruntime
openai
pandas
peft
pip
pydantic
pytest
python-dotenv
pytube
safetensors
scikit-learn
seaborn
sqlalchemy
tensorboard
tiktoken
torch
torchtext
tqdm
transformers[torch]
umap-learn
wikipedia
wordcloud
youtube-transcript-api
yt-dlp
