accelerate
anthropic
autopep8
beeai-framework[wikipedia]
bitsandbytes
chromadb
crewai
crewai-tools
datasets
deepagents
docling
easyocr
evaluate
gradio
hf_xet
huggingface_hub<1
jupyter
jupyterlab
langchain
langchain-anthropic
langchain-classic
langchain-experimental
langchain-ibm
langchain-openai
langchain-community
langchain-tavily
langchain-text-splitters
langgraph
langfuse
langsmith
matplotlib
mcp
mysql-connector-python
numpy
onnx
onnxruntime
openai
pandas
peft
pip
pydantic
pydantic-settings
pypdf
pytest
python-docx
python-dotenv
pytube
rank-bm25
safetensors
scikit-learn
seaborn
sqlalchemy
tavily-python
tensorboard
tiktoken
torch
torchtext
tqdm
transformers[torch]
typer<0.22
umap-learn
wikipedia
wordcloud
youtube-transcript-api
yt-dlp
